html {   box-sizing: border-box; } *, *:before, *:after {   box-sizing:
inherit; }

body { margin: 0; padding: 0;} h1, h2, p { margin: 0; padding: 0; }

.strike { text-decoration: line-through; }

.caption { font: 14px/16px 'Alegreya', Georgia, serif; letter-spacing: 1em;
.color: #999; text-transform: lowercase; text-decoration: none; margin: 0 0 }
.caption a { font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif;
.letter-spacing: 1em; color: #999; text-transform: uppercase; text-decoration:
.none; } caption a:hover { background-color: #ddd; }


.col-xs-12 
  h1 { font: 75px/68px 'Abril Fatface', Georgia, serif; text-
  .transform: uppercase; color: #009999; margin: 200px 0 90px 0; text-align:
.center;} 

section-intro small { font: 4em/4em  'Playfair Display', Georgia,
.serif; letter-spacing: 06em; margin-left: 4%; display: block; color:#333333;
.} 
section-intro h1 em { display: block; font-style: normal; } 
section-intro
.h1 i { text-transform: lowercase; letter-spacing: 0; color: #7a6; } 
section-.intro divider { width: 30px; padding: 30px 0 0 0; border-top: 1px solid #999;
.margin: 30px auto 0 auto; } 

section-intro container { width: 100%; text-
.align: center; margin: 0 auto 120px auto; } 
section-intro column { width:
.300px; display: inline-block; vertical-align: top; text-align: left; margin:
.0 7px 30px 10px; } section-intro p { color: #999; font: 14px/20px 'Alegreya',
.Georgia, serif; margin: 0 auto 10px auto; max-width: 460px; } section-intro a
.{ color: #000; text-decoration: none; }


.section-power { background-color: #212221; color: #9d9e9d; overflow: hidden;
} .section-power .caption  { color: #000; margin-top: 0; text-align: left;
text-rendering:optimizeLegibility; }*/ .section-moon-mother 

.section-power h2 {      font: 34px/30px 'Vast
Shadow', 'Arial Black';      color: #865;      width: 620px;      margin: 0
auto;      text-transform: uppercase;      padding: 14px 0 13px 0;
border-top: 4px double #676767;      border-bottom: 4px double #676767; }

.section-power h2 span {      font: 300 16px 'Oswald', Helvetica, Arial;
margin: 0 5px 0 3px; color: #555;      letter-spacing: .05em; } 

.section-power
p { width: 620px; color: #9d9e9d; margin: 0 auto; } .section-power .black-ital
{ font: italic 900 130px/90px 'Playfair Display', Georgia, serif; margin-
bottom: 12px; display: block; } .section-power.ital { font: italic 400
60px/60px 'Playfair Display', Georgia, serif; margin: 0 0 8px 6px; display:
block; } .section-power .small-cap { font: 400 18px/36px 'Playfair Display
SC', Georgia, serif; letter-spacing: .17em; margin: 0 0 0 12px; text-
transform: uppercase; display: block; } .section-power.reg { font: 400
46px/40px 'Playfair Display', Georgia, serif; display: block; margin: 0 0 0
-10px; } .section-power.bold-ital { font: italic 700 43px/56px 'Playfair
Display', Georgia, serif; display: block; } .section-power .bold { font: 400
23px/36px 'Playfair Display', Georgia, serif; display: block; margin-left:
8px; } .section-power strong { text-transform: uppercase; font-weight: 900;
letter-spacing: .15em; font-size: 18px; margin: 0 3px; } .section-power .black
{ font: 900 39px/32px 'Playfair Display', Georgia, serif; margin-left: 4px;
display: block; }

.section-essential 
container { text-align: center; } 
section-essential h2 {
.font: 60px/36px 'Unica One', sans-serif; text-transform: uppercase; text-
.align: center; color: #c31; margin: 20px 20px 30px;} 
section-essential p {
.font: 16px/24px 'Vollkorn', serif; color: #333; width: 460px; text-align:
.center; margin: 0 auto;} section-essential strong {text-transform:
.capitalize; text-indent: 5%; text-align: center;} section-essential p
.blockquote {text-align: center;}

.section-two { background: url(../img/Haitian_Revolution.jpg) no-repeat;
overflow:hidden;   -webkit-background-size: cover;   -moz-background-size:
cover;   -o-background-size: cover;   background-size: cover; }


.section-two .container {overflow: hidden; margin: 0 auto; max-width: 100%;
padding: 5%; } .section-two h2 { font: 70px/68px 'Playfair Display', Georgia,
serif; color: #663333; text-transform: uppercase; margin: 10% 0 ; } .section-
two p 
{background-color: rgba(0,0,0,0.3); font: 14px/30px 'Fauna One',
Georgia, sans-serif; color: rgba(255, 255, 255, 0.9); margin: 0;} 
.section-two

.quote p { background-color: rgba(0,0,0,0.3);font: 16px/25px 'Playfair
Display', Georgia, serif; color:rgba(255, 255, 255, 0.9);   font-style:
italic;   line-height: 1;   float:right;   text-align: center;   overflow:
hidden;   margin: 5%;   vertical-align: top;} .section-two .caption { margin-
top: -8%; text-align: left; color: #eee; }


.haiti {background: url(../img/Haitian_Revolution.jpg) no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}



.section-three { background: #000 url(/img/partitionjpg) no-repeat center;
.background-size: cover; padding: 6%; } section-three container { box-sizing:
.border-box; overflow: hidden; margin: 0 auto; max-width: 100%; padding: 5%; }
.section-three h2 { font: 400 76px/80px 'Oswald', sans-serif; color: #fff;
.letter-spacing:; text-align: center; margin: 40px 0; text-transform:
.uppercase; } 
section-three p { background-color: rgba(0,0,0,7);font: 400
.16px/30px 'Quattrocento' sans-serif; color: #fff; width: 50%; margin: 0 auto;
.padding: 30px 0; border-bottom: 2px solid #fff; border-top: 2px solid #fff; }
.section-three caption { margin-top: -6%; text-align: left; color: #fff; }
.section-three a { color: #fff; } section-three a:hover { color: #000; }

.section-four{ background:url(../img/cuba2.jpg)    no-repeat;background-size:
cover;overflow:hidden;   padding: 4%; } .section-four h2{    font:60px/75px
'Alfa Slab One', cursive, sans-serif;color:#0A0A0A;   text-
transform:uppercase;   letter-spacing:1.25px;   text-align:left;   padding:
6%; } .section-four h2 .ampersand{ font:italic 48px 'Gentium Book Basic',
serif;   text-transform:none; } .section-four p{ background-color:
rgba(0,0,0,0.3);font:17px/30px 'Gentium Book Basic', serif; color:#FCF9C5;
text-align:justify; width:40%; display:inline-block; float:left; padding: 0%;
} .section-four blockquote{ color:#EFEFEF;   display:inline-block;
font:italic 400 30px/40px "Gentium Book Basic",serif;margin-right:0;   text-
align:right;   width:50%;float:right;   padding:8%; } .section-four .caption {
margin-top: 0; text-align: left; }



.section-five {  background: #fff url(../img/iran.jpg) no-repeat center;
background-size: cover;   overflow: hidden;   width: 100%;   height: 110%;
padding: 5% } .section-five .container { position: relative; } .section-five
h2 {    font: 40px/70px 'Julius Sans One', Helvetica, sans-serif; color: #000;
text-transform: uppercase;    margin: 10% auto;    text-align: center;
width: 100%;} .section-five p { background-color: rgba(0,0,0,0.3);font:
18px/26px 'Crimson Text', Georgia, serif;   width: 40%;   color: #E7E6E6;
margin: -8% auto;   border-top: dotted 4px rgba(169, 171, 40, 1);
padding:2%; }

.section-five p.last {    font-size: 23px;   line-height: 1;   font-style:
italic;   color: #F7F0CE;   text-align: center;   margin: 7% 30%;   padding:
0;}

.section-five caption {font: 22px/14px 'Alegreya', Georgia, serif; letter-
.spacing: 06em; color: #999; text-transform: lowercase; margin: 0;}

.section-arab {     padding:5%;      min-height:100%;     background:
url(../img/arab3.jpg) no-repeat right center;       background-size: cover; }
.section-arab h2 {       font: 200 72px/96px 'Philosopher', sans-serif;
color:#fff; margin: 0 0 50px 0;       max-width: 640px; } .section-arab p{
font: 1.05em/2em 'Muli', sans-serif;      color:#fff;      max-width: 600px;
letter-spacing: .02em; } .section-arab .container{      max-width:960px;
width:100%;} .section-arab .caption {     color: #fff;      margin: 0 0 60px
0;}

 




